<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1> Create a Review </h1>
        <form action="/movies/<%=movieid%>/review/new" method="POST">
        <textarea rows="40" cols="100" name="text"> </textarea>
        <button>Submit</button>

    </form> 

</body>
</html>